extends ../layout

block content
  form(action="/tacos", method="post")
    label(for="shell") Shell
    input(type="text", name="shell", value="")
    br
    label(for="taste") Taste 
    input(type="text", name="taste", value="")
    br
    input(type="submit", name="name", value="Add Taco")

    
